// Buttons
//
// Custom buttons for the docs.

.btn-bd-primary {
  font-weight: 600;
  color: $white;
  background-color: $brand-color;
  border-color: $brand-color;

  &:hover,
  &:active {
    color: $white;
    background-color: shade-color($brand-color, 20%);
    border-color: shade-color($brand-color, 20%);
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($brand-color, .25);
  }
}

.btn-bd-download {
  font-weight: 600;
  color: $brand-download;
  border-color: $brand-download;

  &:hover,
  &:active {
    color: $brand-dark;
    background-color: $brand-download;
    border-color: $brand-download;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($brand-download, .25);
  }
}

.btn-bd-light {
  color: $gray-600;
  border-color: $gray-300;

  .show > &,
  &:hover,
  &:active {
    color: $brand-color-light;
    background-color: $white;
    border-color: $brand-color-dark;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($brand-color-dark, .25);
  }
}
