<div class="bd-masthead mb-3" id="content">
  <div class="container px-4 px-md-3">
    <div class="row align-items-lg-center">
      <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
        <img class="d-block img-fluid mb-3 mb-md-0" src="/docs/{{ .Site.Params.docs_version }}/assets/brand/measured-m.svg" alt="Measured" width="250" height="250">
      </div>
      <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
        <h1 class="mb-3">Build fast, responsive sites for Measured with Bootstrap</h1>
        <p class="lead mb-4">
          Quickly design responsive mobile-first sites for Measured with Bootstrap, a front-end open source toolkit. Features Sass variables and mixins, responsive grid system, extensive prebuilt components, and JavaScript plugins.
        </p>

        <div class="d-flex flex-column flex-md-row">
          <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/measured-style-guide/" class="btn btn-lg btn-bd-primary mb-3 me-md-3">Style Guide | Get started</a>
        </div>
        <p class="text-muted mb-0">
          Currently <strong>v{{ .Site.Params.current_version }}</strong>
          <span class="px-1">&middot;</span>
          <a href="https://getbootstrap.com/docs/4.6/getting-started/measured-style-guide/" class="link-secondary">v4.6.x docs</a>
          <span class="px-1">&middot;</span>
          <a href="/docs/versions/" class="link-secondary">All releases</a>
        </p>
      </div>
    </div>
  </div>
</div>
